<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <!-- Linking External CSS -->
    <link rel="stylesheet" type="text/css" href="./styles.css"> 
</head>
<body>
    <h2 id="inventory-header">Inventory</h2>
    <form action="/urns" method="POST">
    <input type="text" placeholder="Title" name="name">
    <input type="text" placeholder="Photo" name="photo">
    <input type="text" placeholder="Description" name="description">
    <button type="submit">Submit</button>
    </form>

    <h2>Urns</h2>

    <% for(let i = 0; i < urns.length; i++){%>
        <li class="urn">
            <span><%= urns[i].name %></span>
            <span><%= urns[i].photo %></span>
            <span><%= urns[i].description %></span>
        </li>
    
    <% } %>
</body>
</html>