<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo App</title>
    <!-- Link to our external stylesheet -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <!-- Link to FontAwesome for Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <div class="urn-container">
        <h2>Urns in Stock</h2>
            <div class="urn">
                <!-- Form to add urns -->
                <form action="/" method="POST" class="todo-header">
                    <input type="text" name="urn-name" placeholder="Name">
                    <input type="text" name="quantity" placeholder="Quantity">
                    <input type="text" name="keyword" placeholder="Keywords">
                    <button type="submit"><span class= "fas fa-plus"></span></button>
                </form>
            <!-- End of Form to add urns -->
            <ul class="urn-list">
                <li class= "urn-stock-item">
                    <div class="urn-stock-item-name">Urn Name</div>
                    <!-- Button to update -->
                    <a href="" class="edit">
                        <span class="fas fa-edit"></span>
                    </a>
                    <!-- Button to delete -->
                    <a href="" class="remove">
                        <span class="fas fa-times"></span>
                    </a>
                </li>
            </ul>
            </div>
    </div>
</body>
</html>